---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
  <!-- Podcast logo y nombre arriba -->
  <section class="bg-[rgb(240,254,255)] py-10 w-full"> <!-- Azul cielo pastel -->
    <div class="max-w-3xl mx-auto flex flex-col items-center text-center">
      <div class="bg-white p-1 rounded-full shadow-sm border border-white/20"> <!-- Cambios aquí -->
        <img 
          src="/podcast/logoST_PODCAST.png" 
          alt="Logo Sustentaterra" 
          class="w-50 h-48 rounded-full"
          loading="lazy"
        />
      </div>
      <h1 class="text-5xl font-playfair text-[rgb(84,62,45)] mb-2 font-bold tracking-tight">Podcast: Sustentaterra</h1>
      <p class="text-xl font-playfair text-[rgb(213,166,59)] mb-4 font-semibold italic">
        "La unión entre la sustentabilidad y la Tierra que habitamos."
      </p>
    </div>
  </section>

  <!-- Redes sociales abajo -->
  <section class="bg-[rgb(240,240,245)] py-10 w-full">
    <div class="max-w-3xl mx-auto flex flex-col items-center text-center">
      <h2 class="text-3xl font-bold font-playfair text-[rgba(0, 0, 0, 1)] mb-6 font-bold">Síguenos en nuestras redes sociales</h2>
      <div class="flex flex-wrap justify-center gap-6">
        <a href="https://www.facebook.com/profile.php?id=100080595766135" target="_blank" rel="noopener" title="Facebook">
          <img src="/redes/logo2/facebook.png" alt="Facebook" class="w-12 h-12 hover:scale-110 transition-transform" />
        </a>
        <a href="https://www.instagram.com/sustentaterra_/" target="_blank" rel="noopener" title="Instagram">
          <img src="/redes/logo2/instagram.png" alt="Instagram" class="w-12 h-12 hover:scale-110 transition-transform" />
        </a>
        <a href="https://twitter.com/NantliTour?t=1zLFzq-5T_GOpGImZQghhA&s=09" target="_blank" rel="noopener" title="Twitter">
          <img src="/redes/logo2/x.png" alt="Twitter" class="w-12 h-12 hover:scale-110 transition-transform" />
        </a>
        <a href="https://open.spotify.com/show/2pBHIW8rejA3zaEPL9xm23" target="_blank" rel="noopener" title="Spotify">
          <img src="/redes/logo2/spotify.png" alt="Spotify" class="w-12 h-12 hover:scale-110 transition-transform" />
        </a>
        <a href="https://www.YouTube.com/@CIIEMADIPNoficial" target="_blank" rel="noopener" title="YouTube">
          <img src="/redes/logo2/youtube.png" alt="YouTube" class="w-12 h-12 hover:scale-110 transition-transform" />
        </a>
        <a href="https://music.amazon.com.mx/podcasts/88f7d75a-5394-4f26-b036-2b8421e70074/tlali-nantli-tour" target="_blank" rel="noopener" title="Amazon Music">
          <img src="/redes/amazonmusic.png" alt="Amazon Music" class="w-12 h-12 hover:scale-110 transition-transform" />
        </a>
      </div>
    </div>
  </section>
</Layout>
