---
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";

const meta = {
  title: "Estrategias participativas en gestión ambiental",
  date: "2025-09-02",
  author: "Ana Laura",
  image:
    "https://one-more-tree.org/es/wp-content/uploads/sites/13/2025/02/599323-870x563-1.jpg",
};
---

<BlogPostLayout {...meta}>
  <p>
    Descripción de enfoques participativos, herramientas de involucramiento
    comunitario y casos de éxito.
  </p>

  <h2>Herramientas</h2>
  <p>Foros, talleres, mapeo participativo y seguimiento comunitario.</p>

  <h3>Lecciones aprendidas</h3>
  <p>Buenas prácticas y errores comunes a evitar.</p>
</BlogPostLayout>
